[submodule "mykernel"]
	path = mykernel
	url = https://github.com/myosystem/mykernel.git
[submodule "mybootloader"]
	path = mybootloader
	url = https://github.com/myosystem/mybootloader.git
[submodule "mydisplay"]
	path = mydisplay
	url = https://github.com/myosystem/mydisplay.git
[submodule "mylibc"]
	path = mylibc
	url = https://github.com/myosystem/mylibc.git
